@model IndexViewModel

@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "hello word";
    ViewBag.Keywords = "blog programming travel photography";
}

<div class="conteudo">
    <div class="capa">
        <figure class="size-4">
            <img src="~/content/static/capa2.jpg"/>
            <span class="titulo-blog">aqui vai um título criativo</span>
        </figure>
    </div>
    <article>
        <div class="meio">
            <form asp-controller="Home" asp-action="Index" method="get">
                <input type="hidden" name="pageNumber" value="@Model.PageNumber" />
                <input type="hidden" name="category" value="@Model.Category" />
                <div style="width: 100%"><input class="pesquisa" type="text" name="search" value="@Model.Search" placeholder="Pesquisar..." /></div>
                <!-- <button type="hidden" class="submit-btn">Search</button> -->
            </form>
            <select class="categoria">
                <option value="" selected disabled hidden>Categorias...</option>

                <option value="Programming" asp-controller="Home" asp-action="Index" asp-route-category="Programming">Programming</option>
                <option value="Travel" asp-controller="Home" asp-action="Index" asp-route-category="Travel">Travel</option>
                <option value="Photography" asp-controller="Home" asp-action="Index" asp-route-category="Photography">Photography</option>
            </select>
        </div>
        <div class="post">
            @{ var posts = Model.Posts.ToArray(); }
            @if (Model.Posts.Count() % 2 == 0)
            {
                @for (int i = 0; i < Model.Posts.Count(); i += 2)
                {
                    var img_path1 = $"/Image/{posts[i].Image}";
                    var img_path2 = $"/Image/{posts[i + 1].Image}";
                    <div class="row">
                        <div class="column">
                            <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@posts[i].id">
                                <img src="@img_path1" class="cut-img"/>
                            </a>
                        </div>
                        <div class="column">
                            <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@posts[i + 1].id">
                                <img src="@img_path2" class="cut-img"/>
                            </a>
                        </div>
                    </div>
                }
            }
            else
            {
                @for (int i = 0; i < Model.Posts.Count() - 1; i += 2)
                {
                    var img_path1 = $"/Image/{posts[i].Image}";
                    var img_path2 = $"/Image/{posts[i + 1].Image}";
                    <div class="row">
                        <div class="column">
                            <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@posts[i].id">
                                <img src="@img_path1" class="cut-img"/>
                            </a>
                        </div>
                        <div class="column">
                            <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@posts[i + 1].id">
                                <img src="@img_path2" class="cut-img"/>
                            </a>
                        </div>
                    </div>
                }
                var img_path = $"/Image/{posts[Model.Posts.Count() - 1].Image}";
                <div class="row">
                    <div class="column">
                        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@posts[Model.Posts.Count()-1].id">
                            <img src="@img_path" class="cut-img"/>
                        </a>
                    </div>
                </div>
            }
        </div>
    </article>
        <partial name="_BlogPagination" model="Model" />
</div>
<partial name="_NavBar" />
