@model Post
@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Description;
    ViewBag.Keywords = $"{Model.Tags?.Replace(",", " ")} {Model.Category}";
    var data = Model.Created.ToString("d MMMM, yyyy", CultureInfo.CreateSpecificCulture("pt-BR"));
}
<div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
</div>
<article>
    <article>
        <div class="titulo">@Model.Title</div>
        <div class="sub-titulo">@Model.Description</div>
        <div class="data"><em>@data</em></div>
    </article>
    @if (!String.IsNullOrEmpty(Model.Image))
    {
        var img_path = $"/Image/{Model.Image}";

        <figure class="size-4">
            <img src="@img_path" />
        </figure>
        if (!String.IsNullOrEmpty(Model.Legend))
        {
            <figcaption>
                <div class="legenda"><p>@Model.Legend</p></div>
            </figcaption>
        }
    }
    <article class="texto">
        <p>
            <div class="post-body">
                @Html.Raw(@Model.Body)
            </div>
        </p>
        <div class="redes-sociais">
            <a href="https://www.facebook.com/sharer/sharer.php?u=#"><i class="fab fa-facebook-square"></i></a>
            <a href="https://api.whatsapp.com/send?text="><i class="fab fa-whatsapp-square"></i></a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=#"><i class="fab fa-linkedin"></i></a>
        </div>

        <div class="coment-titulo">Comentários</div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="comment-section">
                @{
                    await Html.RenderPartialAsync("_MainComment", new CommentViewModel { Postid = Model.id, MainCommentId = 0 });
                }
                @foreach (var c in Model.MainComments)
                {
                    <div style="margin-bottom: 2rem">
                        <p class="main-coment">
                            @c.Message ----- @c.Created
                        </p>
                        <div style="margin-left: 30px !important">
                            @{
                                await Html.RenderPartialAsync("_MainComment", new CommentViewModel { Postid = Model.id, MainCommentId = c.Id });
                            }
                            @foreach (var sc in c.SubComments)
                            {
                                <p sub-coment>
                                    @sc.Message ----- @sc.Created
                                </p>
                            }
                        </div>
                    </div>

                }
            </div>
        }
        else
        {
            <div>
                <a class="sublinhado" asp-action="Login" asp-controller="Auth">Entre na sua conta</a> para comentar
            </div>
        }

    </article>
</article>
<partial name="_NavBar" />
<script src="~/lib/app.js"></script>
<script src="~/lib/nav.js"></script>