<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale-1.0" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>
    <div>
        <nav>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Home" asp-action="Index" asp-route-category="Programming">Programming</a>
            <a asp-controller="Home" asp-action="Index" asp-route-category="Travel">Travel</a>
            <a asp-controller="Home" asp-action="Index" asp-route-category="Photography">Photography</a>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("admin"))
                {
                    <a asp-controller="Panel" asp-action="Edit">Create Post</a>
                    <a asp-controller="Panel" asp-action="Index" >Admin Panel</a>
                }
                <a asp-controller="Auth" asp-action="Logout">Logout</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="Login">Sign In</a>
            }
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", false)
</body>
</html>